<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">>
    <title>Noticias</title>
</head>

<body>
    <div class="container">
        <% noticias.forEach(function(noticia) { %>
            <h4> <%= noticia.titulo %> </h4>
            <% noticia.recursos.forEach(function(recurso) { %>
                <img src="<%= `${recurso.url}` %>"/>
            <% }); %>
            <p> <%= noticia.texto %> </p>
            <h4>Autores:</h4>
            <% noticia.periodistas.forEach(function(periodista) { %>
                <p> <%= periodista.nombre %> </p>
            <% }); %>
        <% }); %>

    </div>
</body>

</html>